.contact .section-content {
    background-color: #c0c8cc;
    height: 35vh;
}

.contact .section-content h2 {
    margin-bottom: 10px;
}

.contact-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 5rem;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-card i {
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.contact-card .social-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    color: whitesmoke;
    font-size: 3.5rem;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.contact-card i {
    transform: scale(1);
}

.social-link:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.contact-card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: jump 0.4s linear;
}

.contact-card .social-link2:hover {
    background-color: #03A9F4;
    animation: jump 0.4s linear;
}

.contact-card .social-link3:hover {
    background-color: #5865f2;
    animation: jump 0.4s linear;
}

.contact-card .social-link4:hover {
    background-color: black;
    animation: jump 0.4s linear;
}

.contact-card .social-link5:hover {
    background: linear-gradient(to top right, #ff7300, #FFD700, #bad84d);
    animation: jump 0.4s linear;
}

@keyframes jump {
    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 767px) {
    .contact-card {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .contact-card .social-link {
        font-size: 2.5rem;
        width: 7rem;
        height: 7rem;
    }

}