.banner {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

}

.banner-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-slide {
  flex: 0 0 100%;
  position: relative;
  height: 100%;

}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide-content h2 {
  color: #FFFFFF;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.slide-content p {
  color: #FFFFFF;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-nav {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.banner-prev,
.banner-next {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 36px;
  cursor: pointer;
}

.banner-prev {
  position: absolute;
  left: 40%;
  top: auto;
}

.banner-next {
  position: absolute;
  top: auto;
  right: 40%;
}


/* background区域样式 */
.banner-slide {
  background-image: linear-gradient(45deg, #caebfc, #b5eafa, #d2effd);
  color: #FFFFFF;
  /* padding: 100px 0; */
  text-align: center;
  width: 100%;
  height: 100%;
}

.card {
  width: 70%;
  height: 70%;
  transition: all 0.2s;
  position: absolute;
  top: 20%;
  left: 15%;
  /* cursor: pointer; */
}

.card-inner {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}




.circle {
  width: 20vw;
  height: 20vw;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in-out infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-20%);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20%);
  }
}




.card-inner h1 {
  color: black;
  font-size: 5vw;
  margin-bottom: 20px;
}

.card-inner p {
  font-size: 2.5vw;
  margin-bottom: 15%;
}

.card-inner .button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  font-size: 2vw;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  transition: all 0.3s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-inner .button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
  transform: scale(1.1);
}

.card-inner .button:active {
  transform: scale(0.97);
}

.card-inner .hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-inner .hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(90deg, #007AFF 0%, #00C700 49%, #FFD500 100%);
  border-radius: 40px;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.card-inner .button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 响应式样式 */
@media only screen and (max-width: 767px) {
  .background {
    padding: 130px;
  }

  .slide-content h2 {
    font-size: 10vw;

  }

  .slide-content p {
    font-size: 5vw;
  }

  .card-inner h1 {
    font-size: 5vw;
  }

  .card-inner p {
    font-size: 4vw;
  }

  .card-inner .button {
    padding: 8% 15%;
    font-size: 4vw;
    width: 30vw;
  }

  section.banner {
    margin-top: 8vh;
  }

  .banner {
    position: relative;
    height: 80vh;
  }

  .banner-nav {
    bottom: 8%;
  }

  .banner-prev,
  .banner-next {
    font-size: 10vw;
  }
}