/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    color: #333333;
}

/* 导航栏样式 */
nav {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007AFF;
}



/* Hero区域样式 */
.hero {
    background: linear-gradient(45deg, #007AFF, #80bbff);
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007AFF;
    color: #FFFFFF;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* 添加渐变效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero .btn:hover {
    background-color: #4CD964;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 内容区域样式 */
.content {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* 作品集样式 */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px;
}

.portfolio-item {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: opacity 0.5s ease;
}

/* 联系信息样式 */
.contact ul {
    list-style-type: none;
}

/* Footer样式 */
footer {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

/* 响应式样式 */
@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .content {
        padding: 20px;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}